@mixin AppHeader {
  header {
    height: 32px;
    background: #1f1f1f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    app-region: drag;
    h1 {
      margin: 0;
      font-size: 1.5rem;
    }
  }
}